/** Start tool tip definition. **/
.tTip {
position: relative;
display: inline-block;
}

.tTip .tTipText{
visibility: hidden;
width: 120px;
background-color: black;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 5px 0;

/* Position the tooltip */
position: absolute;
z-index: 1;
top: -20px;
}

.no-gutters > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.tTip:hover .tTipText {
visibility: visible;
}
/** End tool tip definition. **/
