

<div class="container">
  <div class="row">
    <h1>Initiative Tracker</h1>
  </div>

  <div class="row">
    <div class="table-responsive">
      <table class="table table-striped table-condensed" style="width:1200px">

        <tr>
          <th style="width:200px">Name</th>
          <th style="width:75px">Initiative</th>
          <th style="width:75px">HP</th>
          <th style="width:75px">AC</th>
          <th style="width:75px">Touch AC</th>
          <th style="width:75px">BAB</th>
          <th style="width:75px">CMB</th>
          <th style="width:75px">CMD</th>
          <th style="width:50px"></th>
          <th style="width:50px"></th>
          <th style="width:50px"></th>
        </tr>

        <tr ng-repeat="c in $ctrl.characterList">
          <td><input class="form-control" style="width:200px" ng-model="c.name"></input></td>
          <td><input class="form-control" style="width:75px" ng-model="c.init"></input></td>
          <td><input class="form-control" style="width:75px" ng-model="c.hp"></input></td>
          <td><input class="form-control" style="width:75px" ng-model="c.ac"></input></td>
          <td><input class="form-control" style="width:75px" ng-model="c.touch"></input></td>
          <td><input class="form-control" style="width:75px" ng-model="c.bab"></input></td>
          <td><input class="form-control" style="width:75px" ng-model="c.cmb"></input></td>
          <td><input class="form-control" style="width:75px" ng-model="c.cmd"></input></td>
          <td><button style="width:50px" class="btn btn-default" ng-click="$ctrl.remove(c.id)">-</button></td>
          <td><button style="width:50px" class="btn btn-default" ng-click="$ctrl.up(c.id)">^</button></td>
          <td><button style="width:50px" class="btn btn-default" ng-click="$ctrl.down(c.id)">v</button></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <button class="btn btn-default" ng-click="$ctrl.add()">Add Character</button>
  </div>
</div>